<div class="light b-t" >
  <div id="primary" class="content-area"
       data-bg-possition="center"
       data-bg-repeat="false"
       style="height: 100vh">
    <main id="main" class="site-main">
      <div class="container">
        <div class="col-xl-8 mx-lg-auto p-t-b-80">
          <header class="text-center">
            <h1>Create New Account</h1>
            <p>Join Our wonderful community and let others help you without a single
              penny</p>
          </header>
          <form  #form="ngForm" (ngSubmit)="userRegister(form)">
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <input type="text" class="form-control form-control-lg" placeholder="First Name">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <input type="text" class="form-control form-control-lg" placeholder="Last Name">
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-group">
                  <input type="text" class="form-control form-control-lg" placeholder="Email Address">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <input type="text" class="form-control form-control-lg" placeholder="Password">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <input type="text" class="form-control form-control-lg"
                         placeholder="Confirm Password">
                </div>
              </div>
              <div class="col-lg-12">
                <input type="submit" class="btn btn-primary btn-lg btn-block" value="Create Account">
              </div>
            </div>
          </form>
        </div>
      </div>
    </main>
  </div>
</div>
