
<figure>
  <div class="img-wrapper ">
    <img src="assets/img/demo/a1.jpg" alt="/">
    <div class="img-overlay text-center text-white d-flex flex-column align-items-center">
      <span>
        <div class="figcaption mt-3">
          <div class="d-flex align-items-center">
          <i class="icon-heart-o s-24 mr-3"></i>
          <li class="list-inline-item ">
            <span class="no-ajaxy media-url">
                <i class="icon-play s-48"></i>
            </span>
        </li>
        <li class="list-inline-item">
            <a href=""><i
              class="icon-more s-18 pt-3"></i></a></li>
            </div>
          <h5 class="mt-4 s-20">{{stateName}}</h5>
          <span class="pb-2">{{stateArtist}}</span>
        </div>
      </span>
    </div>
    <div class="figure-title text-center p-2">
      <h5>{{stateName}}</h5>
      <span>{{stateArtist}}</span>
    </div>
  </div>
</figure>
