
<figure>
  <div class="img-wrapper">
    <img src="assets/img/demo/a1.jpg" alt="/">
    <div class="img-overlay text-white text-center">
      <span>
        <div class="figcaption mt-3">
          <div class="d-flex align-items-center">
          <i class="icon-heart-o s-22 mr-2"></i>
          <li class="list-inline-item ">
            <span class="no-ajaxy media-url">
                <i class="icon-play s-48"></i>
            </span>
        </li>
        <li class="list-inline-item">
            <a href=""><i
              class="icon-more s-18 pt-3"></i></a></li>
            </div>
          <h5 class="mt-3 s-20">To Phir Ao</h5>
          <span class="pb-2">Atif Aslam</span>
        </div>
      </span>
    </div>
    <div class="figure-title text-center p-2">
      <h5>To Phir Ao</h5>
      <span>Atif Aslam</span>
    </div>
  </div>
</figure>
