<aside class="control-sidebar fixed ">
  <div class="slimScroll">
    <div class="sidebar-header">
      <h4>PlayList</h4>
      <p>Awesome Collection for you</p>
      <a href="#" data-toggle="control-sidebar" class="paper-nav-toggle  active"><i></i></a>
    </div>
    <div class="p-3">
      <ul id="playlist" class="playlist list-group">

        <li class="list-group-item my-1" *ngFor="let file of files; let i = index " (click)="openFile(file, i)">
            <div class="d-flex justify-content-between align-items-center">
              <a class="no-ajaxy media-url">
                <i class="icon-play s-28 "></i>
              </a>
              <figure class="avatar-md float-left mr-3 mt-1">
                <img class="r-5" src="assets/img/demo/a1.jpg" alt="">
              </figure>
              <div>
                <h6>alexander Pierce</h6>Atif Aslam
              </div>
              <span class="badge badge-primary badge-pill">  4:30 </span>
            </div>
        </li>
      </ul>

    </div>
  </div>
</aside>
<div class="control-sidebar-bg shadow  fixed"></div>


