<div class="light b-t" >
  <div id="primary" class="content-area"
       data-bg-possition="center"

       data-bg-repeat="false"
       style="height: 100vh;">
    <main id="main" class="site-main">
      <div class="container">
        <div class="col-xl-8 mx-lg-auto p-t-b-80">
          <header class="text-center">
            <h1>Add New Track</h1>
            <p class="primary"><small >Powred by </small>Musify</p>
          </header>
          <form>
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <input type="text" class="form-control form-control-lg" placeholder="First Name">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <input type="file" class="form-control form-control-lg" placeholder="Track Thumbnail">
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-group">
                  <select type="text" class="form-control form-control-lg" >
                    <option value="1">chbcjhd</option>
                    <option value="1">chbcjhd</option>
                    <option value="1">chbcjhd</option>
                    <option value="1">chbcjhd</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-group">
                  <select type="text" class="form-control form-control-lg" >
                    <option value="1">chbcjhd</option>
                    <option value="1">chbcjhd</option>
                    <option value="1">chbcjhd</option>
                    <option value="1">chbcjhd</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <input type="file" class="form-control form-control-lg" >
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <input type="text" class="form-control form-control-lg"
                         placeholder="Confirm Password">
                </div>
              </div>
              <div class="col-lg-12">
                <input type="submit" class="btn btn-primary btn-lg btn-block" value="Create Account">
              </div>
            </div>
          </form>
        </div>
      </div>
    </main>
  </div>
</div>
