<section class="section mt-4 p-1">
  <div class="row row-eq-height">
    <div class="col-lg-3">
      <div class="mb-1 card">
        <figure class="card-img figure">
          <div class="img-wrapper">
            <img class="r-3" src="assets/img/demo/v11.jpg" alt="Card image">
          </div>
          <div class="img-overlay text-white">
            <div class="figcaption">
            </div>
          </div>
          <div class="has-bottom-gradient">
            <div class="d-flex">
              <div class="card-img-overlay">
                <div>
                  <div class="mr-3 float-left text-center">
                    <div class="s-36"><i class="icon-music"></i></div>
                  </div>
                  <div>
                    <div>
                      <a href="events-single.html">
                        <h4 class="text-primary">Your Albums</h4>
                      </a>
                    </div>
                    <small> Here you can manage all your albums and tracks</small>
                    <div class="mt-2">
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </figure>
        <div class="bottom-gradient"></div>
      </div>
      <button data-toggle="modal" data-target="#musicModal" class="my-2 w-100 p-1 justify-content-center py-2 d-flex align-items-center primary-color" style=" border: none">
        <span class="s-12 text-white">Add New Album<i class="ml-2 mt-1 icon-add-3"></i></span>
      </button>


      <div class="mb-3 card p-3">
        <div>
          <div class="mr-3 float-left text-center">
            <div class="s-36">09</div>
            <span>Tracks</span>
          </div>
          <div>
            <div>
              <a href="">
                <h4 class="text-primary">New York park live</h4>
                <div class="d-flex ">
                  <small class="d-block mt-1">private</small>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>


    <div class="col-lg-8">
      <div class="card no-b mb-md-3 p-2">
        <div class="card-header no-bg transparent">
          <div class="d-flex justify-content-between">
            <div class="align-self-center">
              <div class="d-flex">
                <!--<i class="icon-music s-36 mr-3  mt-2"></i>-->
                <div>
                  <h4>Most Popular This Week</h4>
                  <p>Checkout What's new at our blog</p>
                  <div class="mt-3">
                    <ul class="nav nav-tabs card-header-tabs nav-material responsive-tab mb-1"
                        role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active show" id="w2--tab1"
                           data-toggle="tab" href="#w2-tab1"
                           role="tab"
                           aria-selected="true">Rock</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

            </div>

          </div>
        </div>
        <div class="card-body no-p">
          <div class="tab-content" id="v-pills-tabContent1">
            <div class="tab-pane fade show active" id="w2-tab1" role="tabpanel"
                 aria-labelledby="w2-tab1">
              <div class="playlist pl-lg-3 pr-lg-3">
                <div class="m-1 my-4">
                  <div class="d-flex align-items-center">
                    <div class="col-1">
                      <a class="no-ajaxy media-url" href="assets/media/track1.mp3" data-wave="assets/media/track1.json">
                        <i class="icon-play s-28"></i>
                      </a>
                    </div>
                    <div class="col-md-6">
                      <figure class="avatar-md float-left  mr-3 mt-1">
                        <img class="r-3" src="assets/img/demo/a1.jpg" alt="">
                      </figure>
                      <h6>Dance with me tonight</h6>Joe Doe
                    </div>
                    <div class="col-md-5 d-none d-lg-block">
                      <div class="d-flex">
                        <span class="ml-auto"> 5:03</span>
                        <a href="#" class="ml-auto"><i class="icon-share-1"></i></a>
                        <div class="ml-auto">
                          <a href="#" class="btn btn-outline-primary btn-sm">Buy at iTunes</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-1 ml-auto d-lg-none">
                      <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                        <i class="icon-more-1"></i></a>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a  class="dropdown-item" href="#"><i class="icon-share-1 mr-3"></i> Share</a>
                        <a  class="dropdown-item" href="#"><i class="icon-shopping-bag mr-3"></i>Buy at iTunes</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>


<app-add-album-modal></app-add-album-modal>

