<aside class="main-sidebar fixed text-start  shadow" style="width: 50px; padding-top: 80px; ">
  <div class="sidebar" style="padding: 1px 10px">
    <ul class="sidebar-menu">
      <li><a class="active" [routerLink]="['/']">
        <i class="icon icon-home-1 s-24"></i> <span class="mt-1">Home</span>
      </a>
      </li>
      <li><a class="ajaxifyPage" [routerLink]="['all-albums']">
        <i class="icon icon-layers-1 s-24"></i> <span class="mt-1">Albums</span>
      </a>
      <li>
      <li><a class="ajaxifyPage" [routerLink]="['all-artist']">
        <i class="icon icon-windows s-24"></i> <span class="mt-1">Songs</span>
      </a>
      </li>

      <li><a class="ajaxifyPage" [routerLink]="['profile']">
        <i class="icon icon-users s-24"></i> <span>Profile</span>
      </a>
      </li>
          </ul>

  </div>
</aside>
