<aside class="main-sidebar fixed offcanvas shadow" data-toggle='offcanvas'>
  <div class="sidebar">
    <ul class="sidebar-menu">
      <li><a class="ajaxifyPage active" href="">
        <i class="icon icon-home-1 s-24"></i> <span>Home</span>
      </a>
      </li>
      <li><a class="ajaxifyPage" href="test">
        <i class="icon icon-layers-1 s-24"></i> <span>Categories</span>
      </a>
      <li>
      <li><a class="ajaxifyPage" href="albums.html">
        <i class="icon icon-windows s-24"></i> <span>Albums</span>
      </a>
      <li>
      <li><a class="ajaxifyPage" href="videos.html">
        <i class="icon icon-video-player-2 s-24"></i> <span>Videos</span>
      </a>
      </li>
      <li><a class="ajaxifyPage" href="events.html">
        <i class="icon icon-calendar-6 s-24"></i> <span>Events</span>
      </a>
      </li>

      <li><a class="ajaxifyPage" href="gallery.html">
        <i class="icon icon-photo-camera-1 s-24"></i> <span>Gallery</span>
      </a>
      </li>
      <li><a class="ajaxifyPage" href="blog.html">
        <i class="icon icon-newspaper s-24"></i> <span>Blog</span>
      </a>
      </li>

      <li><a class="ajaxifyPage" href="artists.html">
        <i class="icon icon-users s-24"></i> <span>Artists</span>
      </a>
      </li>
          </ul>

  </div>
</aside>
