<li class="list-group-item my-1">
  <div class="d-flex align-items-center">
    <div class="col-1">
      <a class="no-ajaxy media-url" href="assets/media/track1.mp3" data-wave="assets/media/track1.json">
        <i class="icon-play s-28"></i>
      </a>
    </div>
    <div class="col-6">
      <h6>Dance with me tonight</h6>
    </div>
    <span class=" ml-auto"> 5:03</span>
    <a href="#" class="ml-auto"><i class="icon-share-1"></i></a>
    <div class="ml-auto">
      <a href="#" class="btn btn-outline-primary btn-sm d-none d-lg-block">Buy at
        iTunes</a>
    </div>
  </div>
</li>
