<!-- Modal -->
<div class="modal fade" id="musicModal" tabindex="-1" role="dialog" aria-labelledby="musicModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="musicModalLabel">Add Music</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post" #form="ngForm" (click)="getAlbumRef(stateName)" (ngSubmit)="addTrack(form)"  enctype="multipart/form-data">
          <div class="form-group">
            <label for="albumName"><i class="icon-music"></i> Album Name</label>
            <input type="text" class="form-control" id="albumName"  [(ngModel)]="track.trackName" name="albumName"  placeholder="Enter album name">
          </div>
          <div class="form-group">
            <label for="musicImage"><i class="icon-image"></i> Track Image</label>
            <input type="file" [(ngModel)]="track.trackImage" (change)="onFileChanged($event)" name="trackImage" class="form-control-file" id="musicImage">
          </div>

          <div class="form-group">
            <label for="musicFile"><i class="icon-image"></i> Track File</label>
            <input type="file" [(ngModel)]="track.trackFile" (change)="onFileChanged($event)" name="trackFile" class="form-control-file" id="musicFile">
          </div>
          {{stateName}}
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times"></i> Cancel</button>
            <button type="submit" class="btn btn-primary s-14"><i class=""></i> Add track</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
