

ul li:hover{
  color: #c51162;
}


/* Set carousel height */
#myCarousel {
  height: 300px;
}

/* Center carousel caption */
.carousel-caption {
  text-align: center;
  bottom: 0;
}

/* Set carousel controls color */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  color: #000;
}

::ng-deep.scroller{
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}
