<main  class="page has-sidebar">
  <div class=" relative ">
      <section>
        <div class="">
          <div >
            <div class="xv-slide" data-bg-possition="top"
                 style="background:linear-gradient(to top,#131722,rgba(0,0,0,0.17)),url('assets/img/demo/b2.jpg');">
              <div class="has-bottom-gradient">
                <div class="p-md-5 p-3">
                  <div class="row">
                    <div class="col-12 col-lg-6 ">
                      <div class="xv-slider-content clearfix ">
                        <h1 class="s-64 mt-5 font-weight-light text-primary" >Mitaric</h1>
                        <p class="s-24 text-white" >Sed eget orci eleifend enim mattis
                          suscipit. <br>Suspendisse
                          potenti non ipsum.</p>
                        <div class="pt-3">
                          <a href="#" class="btn btn-primary btn-lg">Buy Now At iTunes</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="bottom-gradient"></div>
            </div>
          </div>
        </div>
        <!--slider Wrap-->
      </section>
      <!--@Banner Slider-->
      <div class="p-md-5 p-3  ">
        <!--New Releases-->
        <section class="section">
          <div class="d-flex relative align-items-center justify-content-between">
            <div class="mb-4">
              <h4>New Releases For You</h4>
              <p>Enjoy some new awesome music</p>
            </div>
            <a href="tracks">View Albums<i class="icon-angle-right ml-3"></i></a>
          </div>

          <div class="d-flex  has-items-overlay scroller g-5">
            <app-track-card  class=" my-2 mx-2" style="width: 250px"
                             *ngFor="let file of files; let i = index " (click)="openFile(file, i)"
                             [stateName]="file.name"
                             [stateArtist]="file.artist"
            ></app-track-card>
          </div>
        </section>
      </div>
    </div>
  <app-recent-play></app-recent-play>
</main>
