<main id="pageContent" class="page has-sidebar">
  <div class="container-fluid relative animatedParent animateOnce no-p">
    <div class="animated ">
      <!--Banner Slider-->
      <section>
        <div class="text-white">
          <div class="lightSlider"
               data-item="1"
               data-controls="true"
               data-slide-margin="0"
               data-gallery="false"
               data-pause="8000"
               data-pauseonhover="true"
               data-auto="false"
               data-pager="false"
               data-loop="true">
            <div class="xv-slide" data-bg-possition="top"
                 style="background-image:url('assets/img/demo/b1.jpg');">
              <div class="has-bottom-gradient">
                <div class="p-md-5 p-3">
                  <div class="row">
                    <div class="col-12 col-lg-6 fadeInRight animated">
                      <div class="xv-slider-content clearfix color-white">
                        <h1 class="s-64 mt-5 font-weight-lighter">Mitaric</h1>
                        <p class="s-24 font-weight-lighter">Sed eget orci eleifend enim mattis
                          suscipit. <br>Suspendisse
                          potenti non ipsum.</p>
                        <div class="pt-3">
                          <a href="#" class="btn btn-primary btn-lg">Buy Now At iTunes</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="bottom-gradient"></div>
            </div>
          </div>
        </div>
        <!--slider Wrap-->
      </section>
      <!--@Banner Slider-->
      <div class="p-md-5 p-3  ">
        <!--New Releases-->
        <section class="section">
          <div class="d-flex relative align-items-center justify-content-between">
            <div class="mb-4">
              <h4>New Releases For You</h4>
              <p>Enjoy some new awesome music</p>
            </div>
            <a href="tracks">View Albums<i class="icon-angle-right ml-3"></i></a>
          </div>

          <div class="lightSlider has-items-overlay playlist"
               data-item="6"
               data-item-lg="3"
               data-item-md="3"
               data-item-sm="2"
               data-auto="false"
               data-pager="false"
               data-controls="true"
               data-loop="false">
            <app-track-card
              *ngFor="let file of files; let i = index " (click)="openFile(file, i)"
            ></app-track-card>
          </div>
        </section>
      </div>
    </div>
  </div>
</main>
