<main id="pageContent" class="page has-sidebar">
  <div class="container-fluid relative animatedParent animateOnce">
    <div class=" p-5 ml-lg-5 mr-lg-5">
      <section>
        <div class="relative mb-5">
          <h1 class="mb-2 text-primary">Albums</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br>Architecto atque aut blanditiis
            consectetur</p>
        </div>
        <div class="row has-items-overlay">
          <app-album-card class="col-lg-3 col-md-3 col-sm-6 my-2"
                *ngFor="let album of albums"
                [statRef]="album.albumRefrence"
                [stateName]="album.albumName"
          ></app-album-card>
        </div>
      </section>
    </div>
  </div>
</main>
